captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_01
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_02
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_03
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_04
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_05
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_06
captioning/bridge_caption_norm_trunc_copy/old
captioning/bridge_caption_norm_trunc_copy/
captioning/bridge_caption_norm_trunc/im_en_fr_bow_0
captioning/mscoco_maxlength16/test/image/
captioning/mscoco_maxlength16/valid/image/
captioning/mscoco_maxlength16/train/image/
captioning/wmt_workshop_task2/all/image
captioning/wmt_workshop_task2/train/image
captioning/wmt_workshop_task2/valid/image
captioning/wmt_workshop_task2/test/image
captioning/bridge_caption_norm_trunc/err.txt
captioning/bridge_caption_norm_trunc/out.txt
captioning/bridge_caption_norm_trunc/output_euro.txt
captioning/bridge_caption_norm_trunc/pred
captioning/bridge_caption_norm_trunc/pred.json
captioning/bridge_caption_norm_trunc/ref.json
captioning/image2caption_basic/results.json
transliteration/bridge_transliteration/notes
transliteration/bridge_transliteration/t1
transliteration/bridge_transliteration/t2
transliteration/bridge_transliteration/t3
transliteration/bridge_transliteration/t4
transliteration/bridge_transliteration/t5
