captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_01
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_02
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_03
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_04
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_05
captioning/bridge_caption_norm_trunc_copy/im_en_fr_bow_06
captioning/bridge_caption_norm_trunc_copy/old
captioning/bridge_caption_norm_trunc_copy/
captioning/bridge_caption_norm_trunc/im_en_fr_bow_0
captioning/mscoco_maxlength16/test/image/
captioning/mscoco_maxlength16/valid/image/
captioning/mscoco_maxlength16/train/image/
captioning/wmt_workshop_task2/all/image
captioning/wmt_workshop_task2/train/image
captioning/wmt_workshop_task2/valid/image
captioning/wmt_workshop_task2/test/image
